{% extends "base.html" %}

{% block content %}
<body bgcolor=#f5f5ff>
<pre>
<font size=4 face=宋体>
<table width="100%"　border="0" cellspacing="0" cellpadding="0" style="TABLE-LAYOUT: fixed; WORD-BREAK: break-all">
<tr>
<td style="WORD-BREAK: break-all; WORD-WRAP: break-word ;text-align: left;">

BUG:
(已解决)1. 查看详情页报错
小优化点：
(已解决)1.Sql查询结果加滚动条 优先级：10 
(已解决)2.同步数据字典可选实例 优先级：9
(已解决)3.Oracle字典改为，选择实例发起查询后，再获取数据,这块重用2中。优先级：10
(已解决)4.工单的审核通过自动执行和终止流程增加确认按钮 优先级: 10
(已解决)5.sql查询选中
(已解决)6.详情页报错标红
(已解决)7.变更申请，修改时不要填充所选实例
(已解决)8.选择文件的提交按钮去掉
(已解决)9.变更申请页面增加变更类型，原因，备注说明
(已解决)10.9中增加的选项回填
(已解决)11.工单提交后，数据修订和数据初始化转入自动审核，其他都自动给转入人工, 这里更改提交接口到workflowsubmit,判断工单类型，做相应处理。oraautoreview做成task，异步执行
（已解决）12.工单详情页根据工单类型，做相应更改
大功能点：
--1.Oracle字典做成可查看表结构 优先级：7
2.增加用户申请/删除表权限工单，审核人审核权限工单 优先级：6
(已解决)3.同步ldap和字典数据可查看进度 优先级：8
(h5页面，只能访问detail页面)4.接入oa审批/h5页面 优先级：8
(已解决)5.考虑使用mysql? ora_tables和ora_tab_privs表查询优化
(已解决)6.查询页面增加show index from语法支持 优先级：7
7.ddl与dml分离
</td>
</tr>
</table>
</pre>
</FONT>
</body>
{% endblock content %}
