{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row clearfix">
	<form id="form-submitsqlora" action="/workflowsubmit/" method="post" class="form-horizontal" role="form">
		{% csrf_token %}
        <input type="hidden" id="workflowid" name="workflowid" value="{{workflowid}}"/>
		<div class="col-md-8 column">
			<textarea id="sql_content" name="sql_content" value="{% if sql_content|length > 0 %}{{sql_content}} {% endif %}" class="form-control sql-textarea" data-name="SQL内容" placeholder="请在此提交SQL，请以分号结尾。例如： create table t1(id number);" rows=20>{% if sql_content|length > 0	%}{{sql_content}} {% endif %}</textarea>
			<div class="form-group">
				<input id="btn-addAttachment" type="file" class="btn btn-add-attachment" value="add-attachment" />
				<!-- <input id="btn-readAttachment" type="button" class="btn btn-primary" value="提交" /> -->
			</div>
		</div>

		<div class="col-md-4 column">
				<div class="form-group">
					<input id="workflow_name" type="text" name="workflow_name" value="{{workflow_name}}" class="form-control" data-name="上线单名称" placeholder="请输入上线单名称，如:XX项目会员功能建表" required>
				</div>
                <div class="form-group">
                    请选择变更类型
					<select name="data_change_type" class="normal-select" id="data_change_type">
						<option value="数据修订" {% if data_change_type == "数据修订" %}selected{% endif %}>数据修订</option>
						<option value="数据初始化" {% if data_change_type == "数据初始化" %}selected{% endif %}>数据初始化(提交sql脚本)</option>
						<option value="数据迁移" {% if data_change_type == "数据迁移" %}selected{% endif %}>数据迁移(文字描述)</option>
						<option value="其他" {% if data_change_type == "其他" %}selected{% endif %}>其他</option>
                    </select>
                </div>
				<div class="form-group">
					<!-- <select id="cluster_name" name="cluster_name" class="selectpicker show-tick form-control bs-select-hidden" data-name="要上线的实例" data-placeholder="请选择要上线的实例:" required>
          				<option value="is-empty" disabled="" selected="selected">请选择要上线的实例:</option>
						{% for cluster_name,dbs in dictAllClusterSchema.items %}
							<option value="{{cluster_name}}">{{cluster_name}}
							{% for db in dbs %}
								{{db}}{% if not forloop.last %},{% endif%}
							{% endfor %}
							)
							</option>
                        {% endfor %}
						        		
					</select>		 -->
					<div>
                        <div class="panel panel-default" style="margin-bottom:0;">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#cluster_name"
									href="#cluster_name_checkbox">
										<i class="glyphicon-plus glyphicon"></i>
										请选择要上线的实例
									</a>
								</h4>
							</div>
							<div id="cluster_name_checkbox" class="panel-collapse collapse">
								<div class="panel-body" style="margin-left:25px">
									{% for cluster_name,dbs in dictAllClusterSchema.items %}
										<div class="checkbox-block">
											<input type="checkbox" class="checkbox-input" value="{{ cluster_name }}"/>{{ cluster_name }}
										</div>
									{% endfor %}
									<input type="hidden" name="cluster_name" id="cluster_name">
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div style="display:none" class="form-group" >
					<select id="is_backup" name="is_backup" class="selectpicker show-tick form-control bs-select-hidden" data-name="是否选择备份" data-placeholder="请选择是否要备份:" required>
          				<option value="is-empty" disabled="">请选择是否要备份:</option>
          				<option value="是">是</option>
          				<option value="否" selected="selected">否</option>
        			</select>	
				</div>
				<div class="form-group">
					<div>
						<div class="panel panel-default" style="margin-bottom:0;">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#review_man" href="#review_man_checkbox">
										<i class="glyphicon-plus glyphicon"></i>
										请选择审核人
									</a>
								</h4>
							</div>
							<div id="review_man_checkbox" class="panel-collapse collapse">
								<div class="panel-body" style="margin-left:25px">
									{% for man in reviewMen %}
										<div class="checkbox-block">
											<input type="checkbox" class="checkbox-input" value="{{ man }}"/>{{ man }}
										</div>
									{% endfor %}
									<input type="hidden" name="review_man" id="review_man">
								</div>
							</div>
						</div>
					</div>
					<!-- <select id="review_man" name="review_man" class="selectpicker show-tick form-control bs-select-hidden" data-name="审核人" data-placeholder="请选择RD审核人:" required>
          			<option value="is-empty" disabled="" selected="selected">请选择审核人:</option>
					{% for man in reviewMen %}
						<option value="{{man}}">{{man}}</option>
					{% endfor %}
					</select> -->
				</div >
				<div class=form-group>
					<input type="text" id="reason" name="reason" value="{% if reason|length > 0 %}{{reason}} {% endif %}" class="form-control" placeholder="原因(必填)" data-name="原因" rows=20 style="height:30px;" required=True>{% if reason|length > 0	%}{{reason}} {% endif %}</input>
				</div>
				<div class=form-group>
					<textarea id="message" name="message" value="{% if message|length > 0 %}{{message}} {% endif %}" class="form-control" placeholder="备注说明" rows=20 style="height:160px;">{% if message|length > 0	%}{{message}} {% endif %}</textarea>
				</div>
				<div class="form-group">
                    <input type="button" id="btn-oraautoreview" class="btn btn-info btn-lg" value="SQL检测" />
                    <button type="reset" class="btn btn-warning">清空选项</button>
					<!-- <button type="submit" class="btn btn-primary">SQL提交</button> -->
					<input id="btn-submitsqlora" type="button" class="btn btn-primary" value="提交" /> 
				</div>
			</div>
	</form>
	</div>

	<div id="inception-result" style="display:none;" class="row clearfix">
		<br/>
		<div id="inception-result-col" class="col-md-12">
		
		</div>
	</div>
</div>
{% endblock content %}
