textarea{
	white-space: pre-line;
}
td,th{
	text-align: center;
}
.td-need-pre{
	white-space: pre-line;
	word-break: break-all;
}
.td-need-pre-line{
	white-space: pre-line;
	word-break: break-all;
}
.user-bottom-div {
	display:block;
	text-align:center;
	background-color:#ddd;
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	line-height:50px;
	z-index: 10;
}

.user-center-div-col-md-10 {
	margin-bottom:50px;
}

.login-div-center {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 500px;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.07);
	transform: translate(-50%, -50%);
	background-color: #f6f7f8;
}

.login-form {
	margin: 20px;
}

.sidebar {
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.group-content{
	padding: 5px;
	position: relative;
	width: 200px;
	height:300px;
	background: #fff;
	box-shadow: 0 0 5px #999;
	white-space: normal;
	overflow: auto;
	font-size: 12px;
	z-index: 1001;
}
.close-group-icon{
	position: absolute;
	width: 22px;
	height: 22px;
	top:2px;
	right: 2px;
	font-size: 20px;
	background:#999;
	color:#fff;
	border-radius: 50%;
	text-align: center;
	line-height: 17px;
	cursor: pointer;
}
.hide{
	display: none!important;
}
.container-fluid .btn-add-attachment{
	display: inline-block;
}
.cluster-group-item{
	list-style: none;
	display: inline-block;
	width: 300px;
	height: 40px;
	line-height: 40px;
	border:1px solid #ddd;
	text-align: center;
	margin: -1px 0 0 -1px;
}
.container-fluid .log-textarea{
	width: 500px;
	height: 200px;
	overflow: auto;
	resize: none;
	white-space: pre-line;
}
.container-fluid .sql-textarea{
	height: 420px;
	overflow: auto;
	resize: none;
	white-space: pre-line;
}
.container-fluid .sql-query-textarea{
	height: 200px;
	white-space: pre-line;
}
.modal-sql-content {
	height: 350px;
	overflow: auto;
	white-space: pre;
}
.normal-select{
	min-width: 100px;
    height: 28px;
    border-radius: 4px; 
}
.query-sql-wrap {
	width: 100%;
	overflow: auto;
}
.pagination{
	cursor: pointer;
}
.form-group .checkbox-input,.form-group .radios{
	margin-right:15px;
	display: inline-block;
}
.break-normal{
	word-break: normal;
}